<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inclua alguém na equipe!
    </h1>
    <section style="background-color: #1D5175;">
        <form method="POST" action="/Cadastromembro" id="cadastro">
            <label for="nome">Nome completo:</label><br>
            <input type="text" id="nome" name="nome" required><br>
            <label for="cpf">CPF:</label><br>
            <input type="text" id="cpf" name="cpf" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required><br>
            <label for="funcao">Função:</label><br>
            <select name="funcao" id="funcao">
                <option value="dt">Dev team</option>
                <option value="po">Product Owner (PO)</option>
                <option value="sm">Scrum Master</option>
            </select>
        </form>
        <img src="membros_equipe.png" alt="Membros da equipe" style="height: 280px;">
    </section><br>
    <button type="submit" form="cadastro">Cadastrar
    </button>
</body>
</html>
