<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar membro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/cadastro_membros.css')}}">
</head>
<body>
    <a href="/home/membro">←</a>
    <h1 id="titulo"></h1>

    <form method="POST" action="/home/master/registroscrum" id="cadastro">
        <div class="formbox">
                <div class="cadastrar">
                    <div class="inputs">
                        <label for="name">Nome completo:</label>
                        <input type="text" id="name" name="name" required placeholder="Digite seu nome">

                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" required placeholder="Digite seu CPF">

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="Digite seu E-mail">

                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">

                        <label for="funcao">Função:</label>
                        <select name="funcao" id="funcao">
                            <option value="dt">Dev team</option>
                            <option value="po">Product Owner (PO)</option>
                            <option value="sm">Scrum Master</option>
                        </select>
                    </div>
                    <img src="{{url_for('static', filename='media/membros_equipe5.png')}}" alt="membros" id="membrosimg">
                </div>
            
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div id='alerta' class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn-enviar">Enviar</button>
        </div>
    </form>

    <script>
    function ajustarTexto() {
      const titulo = document.getElementById('titulo');
      const largura = window.innerWidth;

      if (largura <= 900) {
        titulo.textContent = "Cadastre membros";
      } else {
        titulo.textContent = "Inclua alguém na equipe!";
      }
    }

    ajustarTexto();
    window.addEventListener('resize', ajustarTexto);
  </script>
</body>
</html>
