<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/gerenciamento_de_atestados_aluno.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inder&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>SIRAAS</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/home/aluno"><button class="seta">&larr;</button></a>
        <h1>SIRAAS - Sistema de Registro de Atestados e Avaliação Scrum</h1>
      </nav>
      <section>
        <h2 class="prompt">Acompanhe o que já foi enviado</h2>
      </section>
    </header>
    <main>
      <!-- Barra de pesquisa e Total de Registros-->
      <section>
        <h2
          style="
            margin-top: 90px;
            font-size: 15px;
            font-weight: lighter;
            margin-left: 3%;
          "
        >
          Total de registros: {{ atestados | length }}
        </h2>
        <div class="barra_de_pesquisa">
          <form
            action="/home/docente/gerenciar_atestados/"
            method="get"
            class="input_pesquisa"
          >
            <input
              id="barra"
              type="text"
              style="width: 93.25%; border-radius: 20px; height: 25px"
              name="pesquisa"
              placeholder="Pesquisar"
              value="{{ request.args.get('pesquisa','') }}"
            />
            <button
              type="submit"
              id="botão_pesquisa"
              style="background-color: transparent; border: none"
            >
              <i class="fas fa-search" style="margin-left: -50px"></i>
            </button>
          </form>
        </div>
      </section>
      <!-- Tabela de pesquisa -->
      <section>
        <div>
          <table class="tabela_de_pesquisa" style="width: 90%">
            <thead>
              <tr class="elementos">
                <th>Nome</th>
                <th>Turma</th>
                <th>RA</th>
                <th>Tipo de atestado</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Horas</th>
                <th>Status</th>
                <th>Motivo da recusa</th>
                <th>Excluir</th>
                <th>Arquivo</th>
              </tr>
            </thead>
            <tbody>
              {% for atestado in atestados %}
              <tr>
                <td>{{ atestado["Nome"] }}</td>
                <td>{{ atestado["Turma"] }}</td>
                <td>{{ atestado["RA"] }}</td>
                <td>{{ atestado["Tipo"] }}</td>
                <td>{{ atestado["Inicio"] }}</td>
                <td>{{ atestado["Fim"] }}</td>
                <td>{{ atestado["Horas"] }}</td>
                <td>
                  {% if atestado["Status"] == 'Pendente' %} Pendente {% elif
                  atestado["Status"] == True %} Aprovado {% elif
                  atestado["Status"] == False %} Reprovado {% endif %}
                </td>
                <td>{{ atestado["Motivo"] }}</td>
                <td>
                  <form
                    action="{{ url_for('excluir_atestado_aluno', atestado_id=atestado['ID']) }}"
                    method="POST"
                  >
                    <button id="botao_excluir" type="submit">Excluir</button>
                  </form>
                </td>
                <td><a href="#" id="abrirarquivo">Abrir Arquivo</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
