<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRAAS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/gerenciar_avaliacoes.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
    </style>
</head>
<body>
    <header>
        <a href="/home/membro" style="margin-left: 10px;">←</a>
        <span>SIRAAS - Sistema de Registros de Atestados Médicos e Scrum</span>
    </header>
    <p style="text-align: center; margin: 50px;"></p>
    <h1>Como está a equipe?</h1>
    <label for="pesquisa">Membros</label>
    <div class="container">
        <input id="barra" type="text" style="width:93.25%; border-radius: 20px; height: 20px;" name="pesquisa" placeholder="Pesquisar" value="{{ request.args.get('pesquisa','') }}"/>
        <button type="submit" id="botão_pesquisa" style="background-color: transparent; border: none;">
            <i class="fas fa-search" style="margin-left: -75px;"></i>
        </button>
    </div>
    <div class="graficos">
        <img src="{{url_for('static', filename='media/gabriellegraficoapi1.png')}}" alt="Gabrielle">
        <img src="{{url_for('static', filename='media/wendygraficoapi1.png')}}" alt="Wendy">
        <img src="{{url_for('static', filename='media/claragraficoapi1.png')}}" alt="Clara">
        <img src="{{url_for('static', filename='media/fernandagraficoapi1.png')}}" alt="Fernanda">
        <img src="{{url_for('static', filename='media/guilhermegraficoapi1.png')}}" alt="Guilherme">
        <img src="{{url_for('static', filename='media/gustavograficoapi1.png')}}" alt="Gustavo">
        <img src="{{url_for('static', filename='media/isauragraficoapi1.png')}}" alt="Isaura">
        <img src="{{url_for('static', filename='media/leticiagraficoapi1.png')}}" alt="Letícia">
        <img src="{{url_for('static', filename='media/raphaelgraficoapi1.png')}}" alt="Raphael">
    </div>
</body>
</html>
