<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRAAS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/gerenciar_avaliacoes_css.css')}}">
</head>
<body>
    <header>
        <a href="" style="margin-left: 10px;">←</a>
        <span>SIRAAS - Sistema de Registros de Atestados Médicos e Scrum</span>
    </header>
    <p style="text-align: center; margin: 50px;"></p>
    <h1>Como está a equipe?</h1>
    <label for="pesquisa">Membros</label>
    <div class="container">
        <input type="search" name="pesquisa" id="pesquisa" placeholder="Pesquisar">
        <div>
            <a href="#">
                <img src="static/midia/lupa.webp" alt="lupa">
            </a>
        </div>
        
    </div>
    <div>
        <img src="static/midia/gabriellegraficoinicial.png" alt="" id="gabrielle">
    </div>
    <div>
        <img src="static/midia/wendygraficoinicial.png" alt="" id="wendy">
    </div>
    <div>
        <img src="static/midia/claragraficoinicial.png" alt="" id="clara">
    </div>
    <div>
        <img src="static/midia/fernandagraficoinicial.png" alt="" id="fernanda">
    </div>
    <div>
        <img src="static/midia/guilhermegraficoinicial.png" alt="" id="guilherme">
    </div>
    <div>
        <img src="static/midia/gustavograficoinicial.png" alt="" id="gustavo">
    </div>
    <div>
        <img src="static/midia/isauragraficoinicial.png" alt="" id="isaura">
    </div>
    <div>
        <img src="static/midia/leticiagraficoinicial.png" alt="" id="leticia">
    </div>
    <div>
        <img src="static/midia/raphaelgraficoinicial.png" alt="" id="raphael">
    </div>
</body>
</html>