<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/adm.css')}}">
</head>
<body>
    <header>
        <a href="/logout">Sair</a>
        <span></span>
    </header>
    <main>
        <h1></h1>
        <img src="{{url_for('static', filename='media/adm.png')}}" alt="ilustração">
        <h2>O que você deseja fazer?</h2>
        <section class="botoes"> 
            <button onclick="window.location.href='/adm/acessos'" id="addcadastro">Criar cadastro </button> 
            <button onclick="window.location.href='/adm/equipes'" id="gerenciar_equipes" >Gerenciar equipes</button>
        </section>
    </main>
</body>
</html>