<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRAAS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/home_student_style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <span>SIRAAS - Sistema de Registro de Atestados e Avaliação Scrum</span>
        <div>
            <button id="logout" value="logout" onclick="window.location.href='/'">Sair</button>
        </div>
    </nav>

    <section class="main">
        <h1>Olá</h1>
        <div class="content">
            <img src="{{url_for('static',filename='media/img1_home_student.png')}}" alt="Ilustração" class="illustration">
            <div class="text">
                <p>
                    Nosso sistema foi desenvolvido para tornar o envio e a consulta de atestados mais simples e rápidos. Com apenas alguns cliques, você pode registrar um novo atestado e garantir que a coordenação tenha acesso imediato às informações, sem complicações ou burocracias desnecessárias.
                </p>
                <p>
                    Além de facilitar o envio, oferecemos um espaço onde você pode acompanhar todos os atestados já registrados, verificando o status de cada um sempre que precisar. Dessa forma, você tem mais controle sobre suas solicitações e pode garantir que tudo está sendo processado corretamente.
                </p>
                <p>
                    Nosso objetivo é oferecer uma plataforma acessível e eficiente, garantindo que sua experiência seja prática e intuitiva. Com um ambiente seguro e organizado, você pode gerenciar seus atestados de maneira tranquila, sem preocupações.
                </p>
            </div>
        </div>
    </section>
    
    <section class="actions">
        <h2>O que você deseja fazer?</h2>
        <div class="buttons">
            <button class="btn" value="upload" onclick="window.location.href='/home/aluno/enviar'">Upload de atestados</button>
            <button class="btn" value="manage" onclick="window.location.href='/home/aluno/gerenciar_atestados'">Gerenciar meus atestados</button>
        </div>
    </section>
</body>
</html>
