<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRAAS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
</head>
<body>
    <header>
        <a href="/" style="margin-left: 10px;">←</a>
        <h1>Faça seu login!</h1>
    </header>

    <span>Área do Membro</span>

    {% set message = get_flashed_messages() %}
    {% if message %}
        <div class="flash_alert">
            {{message[0]}}
        </div>
    {% endif%}

    <div class="container">
        <div class="form-box">
            <form action="/login_membro" method="post">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf">

                <label for="password">Senha:</label>
                <input type="password" name="password" id="password">

                <button type="submit">Logar</button>
            </form>
        </div>
    </div>

</body>
</html>
