<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/relatorio.css') }}"
    />
    <title>Relatórios</title>
  </head>
  <body class="pagina-relatorios">
    <header>
      <div class="cabecalho-relatorio">
        <h1>Relatório</h1>
        <span>Data: {{ data_hoje }}</span>
      </div>
    </header>
    <main>
      <table class="tabela_de_pesquisa">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Turma</th>
            <th>RA</th>
            <th>Tipo de atestado</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Horas</th>
            <th>Status</th>
            <th>Motivo da recusa</th>
          </tr>
        </thead>
        <tbody>
          {% for atestado in atestados %}
          <tr>
            <td>{{ atestado["Nome"] }}</td>
            <td>{{ atestado["Turma"] }}</td>
            <td>{{ atestado["RA"] }}</td>
            <td>{{ atestado["Tipo"] }}</td>
            <td>{{ atestado["Inicio"] }}</td>
            <td>{{ atestado["Fim"] }}</td>
            <td>{{ atestado["Horas"] }}</td>
            <td>
              {% if atestado["Status"] == 'Pendente' %} Pendente {% elif
              atestado["Status"] == True %} Aprovado {% elif atestado["Status"]
              == False %} Reprovado {% endif %}
            </td>
            <td>{{ atestado["Motivo"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
