body {
    font-family: 'Inder';
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #1b3a5e;
    margin: 20px 0;
}

.greeting {
    text-align: justify;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.img-section {
    width: 400px;
    margin-left: 50px;
    float: left;
}

@media(min-width: 1190px) {
    .img-section {
        width: 340px;
    }
}

.text-section {
    text-align: justify;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

@media(max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .img-section {
        width: 300px;
        margin: auto;
    }

    .text-section {
        display: none;
    }
}

@media(min-width: 990px) {
    .img-section {
        width: 400px;
        margin-bottom: 30rem;
        margin-right: 1rem;
    }

    .t_c1 {
        margin-top: -28rem;
    }

    .t_c2 {
        display: none;
    }
}

@media(min-width: 1190px) {
    .t_c1 {
        margin-top: -28rem;
    }
}

@media(min-width: 1140px) {
    .text-section {
        margin-bottom: 5rem;
    }

    .t_c1 {
        margin-top: -20rem;
    }

    .t_c2 {
        display: block;
        margin-bottom: 7rem;
    }
}

@media(min-width: 1360px) {
    .t_c1 {
        margin-top: -20rem;
    }

    .t_c2 {
        display: block;
    }
}

.blue-box {
    background-color: #5892B7;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
}

.form-container {
    background-color: #1d5176;
    ;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.form-container p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-entrar {
    text-align: center;
    margin-top: 20px;
    /* Ajuste conforme necessário */
}

.btn-entrar input {
    background-color: #1d5176;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-entrar input:hover {
    background-color: #5892B7;
}

label {
    font-size: 18px;
    cursor: pointer;
    color: white;
    letter-spacing: 0.5px;
}

input[type="radio"] {
    margin-right: 15px;
}

.signup {
    text-align: center;
    font-size: 18px;
    margin-top: -115px;
    letter-spacing: 0.5px;

}

.signup a {
    color: #1d5176;
    font-weight: bold;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

@media(max-width: 990px) {
    .signup {
        margin: 2rem auto;
        font-size: 1rem;
    }
    .form-container{
        margin: auto;
    }
}

@media(min-width: 990px) {
    .signup {
        margin: 1.3rem auto;
    }
}

@media(min-width: 1342px) {
    .signup {
        margin: 1.5rem auto;
    }
}

footer {
    font-size: 18px;
    text-align: center;
    margin-top: 130.5px;
    letter-spacing: 0.5px;

}

@media(max-width: 990px) {
    footer {
        display: none;
    }
}


@media(min-width: 1342px) {
    footer {
        margin-top: 5rem;
    }
}

.alert {
    color: white;
    font-family: 'Inder';
    text-align: center;
}

@media(min-width: 990px) {
    .blue-box {
        margin-top: -27rem;
    }
}
