body {
  font-family: "Inder";
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  background-color: #5892b7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 0.75rem;
}

.seta {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.563rem;
  cursor: pointer;
}

.prompt {
  display: flex;
  justify-content: center;
}

.total-registros {
  margin-top: 5.625rem;
  font-size: 0.938rem;
  font-weight: lighter;
  margin-left: 3%;
}

.txt {
  display: flex;
  text-align: justify;
  max-width: 95%;
  margin-left: 1%;
  margin-bottom: 80px;
  margin-top: 50px;
}

.tabela_de_pesquisa {
  background-color: #1d5175;
  color: white;
  max-width: 90%;
  margin: auto;
  border-radius: 1.25rem;
  padding: 1.875rem;
  margin-top: 1.25rem;
  border-spacing: 1.5rem;
  display: block;
  overflow-x: auto;
}

.input_pesquisa {
  display: flex;
  justify-content: center;
}

.btn-send {
  background-color: #1d5176;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  margin: auto;
  display: flex;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
}

.btn-send:hover {
  background-color: #3274a0;
}

#barra {
  padding: 0.531rem;
  width: 93.25%;
  border-radius: 1.25rem;
  height: 1.563rem;
}
.botão {
  color: #000000;
  background-color: #6eb8e6;
  border-radius: 0.93rem;
  font-family: "Inder";
}
.filtro {
  cursor: pointer;
  font-weight: bold;
}
.botão_filtrar {
  color: #ffffff;
  background-color: #6eb8e6;
  border-radius: 0.938rem;
  font-family: "Inder";
}
h2 {
  font-size: 2.5rem;
}
td {
  text-align: center;
}
.btn-send {
  font-family: "Inder";
}

::placeholder {
  font-family: "Inder";
  padding: 0.313rem;
}

@media (max-width: 768px) {
  .prompt {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .navbar {
    padding: 0.8rem;
    justify-content: center;
  }
  .navbar h1 {
    font-size: 0.7rem;
  }

  .seta {
    display: none;
  }

  .total-registros {
    margin-top: 3.5rem;
    font-size: 0.8rem;
    margin-left: 1rem;
    justify-self: center;
  }

  #barra {
    padding: 0.531rem;
    width: 85%;
    border-radius: 1rem;
    height: 1rem;
  }

  .tabela_de_pesquisa {
    max-width: 95%;
    padding: 0.8rem;
    margin-top: 1rem;
    border-spacing: 0.5rem;
    scrollbar-color: #ffffff #585858;
  }
}
body main section table a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body main section table a:hover {
  background-color: #5892b7;
  color: #585858;
}
body main section table button {
  color: #ffffff;
  background-color: #1d5175;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body main section table button {
  color: #ffffff;
  background-color: #1d5175;
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body main section table button:hover{
  background-color: #5892b7;
  color: #585858;
}
