@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    font-family: "Inder";
    margin: 0;
    background-color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 3rem;
    width: 100%;
}

header {
    background-color: #5892B7;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 20px;
    margin-left: 80px;
    font-size: 20px;
}

input {
    padding: 15px;
    margin-top: 5px;
    border-radius: 15px;
    width: 90%;
    display: flex;
    align-items: center;
}

::placeholder {
    font-family: "Inder";
    font-size: 18px;
    color: rgb(207, 203, 203);
}

.graficos {
    display: flex;
    flex-direction: column;
    align-items: center;  
            
    width: 100%;
    padding: 20px;
}

.graficos img {
    max-width: 90%;
    height: auto;
}
