@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body,html{
    font-family: 'Inder', sans-serif;
    background-color: white;
}


header{
    width: 100%;
    display: flex;
    padding: 10px 20px;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 25px;
}

h1{
    color: #1D5175;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    margin: 0;
}

span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D5175;
    border-radius: 15px;
    color: white;
    width: 500px;
    height: 200px;
    padding: 20px 45px;
}

.form-box label {
    margin-bottom: 5px;
    font-size: 18px;
    align-self: flex-start;
}


.form-box input{
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    display: flex;
    width: 95%;
}

.btn-enviar{
    color: #ffffff;
    background-color: #1D5175;
    border-radius: 15px;
    margin-top: 40px;
    width: 300px;
    height: 60px;
    font-size: large;
    font-family: 'Inder';
}

.container button a{
    text-decoration: none;
    color: white;
}

::placeholder{
    font-family:'Inder';
    color: rgb(207, 203, 203);
}
