@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
body {
    font-family: 'Inder';
    margin: 0;
    padding: 0;
    background-color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
    
}

header {
    background-color: #5892B7;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font: 20px;  
}

header a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

h2 {
    text-align: center;
    letter-spacing: 0.5px;
}

.topic{
    letter-spacing: 0.5px;
    margin-left: 35px;
}

.form-box{
    background-color: #1d4b72;
    border-radius: 15px;
    color: white;
    text-align: left;
    margin-left: 35px;
    margin-right: 53px;
    padding: 10px;
}

.form-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.form-box input,
.form-box select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    display: flex;
    width: 850px;
    margin-left: 10px;
}

.btn-enviar {
    background-color: #1d4b72;
    font-family: "Inder";
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

.btn-enviar:hover {
    background-color: #3274A0;
}

.image-box {
    display: flex;
    justify-content: center;
    margin-top: -630px;
    margin-left: 850px;
}

.image-box img {
    max-width: 100%;
    height: auto;

}

::placeholder{
    color:rgb(207, 203, 203);
    font-family: "Inder";
}

#tipo,#turma,#data,#file,#arquivo{
    font-family: "Inder";
}

input[type="file"] {
    display:none;
}


.botao-arquivo {
    background-color:#d6e9fa;
    color: #4b5563;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 175px;
}

.botao-arquivo:hover {
    background-color: #9badbb;
}