<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style2.css">
  <title>Área de cadastro do aluno</title>
  
</head>

<body>
  <header>
    <h1> Faça já seu cadastro!</h1>
  </header>

  
<!--Dados de cadastro-->
<fieldset>
   <div class="input-box">
    <label for ="firstname">Nome completo</label>
    <input id="Name"type="text" name="Name" placeholder="Digite seu nome" required>
  </div>
 <br>
  <div class="input-box"> 
    <label for="CPF">CPF</label>
    <input id="CPF"type="number" name="CPF" placeholder="Digite seu CPF" required>
  </div>
  <br>
  <div class="input-box"> 
    <label for="RA">RA</label>
    <input id="RA"type="number" name="RA" placeholder="Digite seu RA" required>
  </div>
  <br>
  <div class="input-box"> 
    <label for="Email">Email</label>
    <input id="Email"type="email" name="Email" placeholder="Digite seu Email" required>
  </div>
  <br>
  <div class="input-box"> 
    <label for="password">Senha</label>
    <input id="password"type="password" name="password" placeholder="Digite sua senha" required>
  </div>
</div>
</fieldset>
      <!--botão-->
 <div class="cadastrar"> 
  <button><a href="http://127.0.0.1:5000/Autenticar">Cadastrar-se</a></button>
</div> 

</div>
</body>
</html>