<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticar</title>
<style>
    h1 {
    margin-left: 16rem;
    color:#1d5176;
    font-size: 3rem;
}

img {
    margin-left: 25rem;
    height: 28rem;
}

a {
    font-size: 3rem;
    margin-left: 20rem;
}
</style>
</head>
<body>
    <header>
        <h1> Oba, seu cadastro foi feito com sucesso!</h1>
    </header>
    <main>
        <img src="/static/Cadastro1.jpg">
    </main>
    <a href="http://127.0.0.1:5000/">Clique para acessar a página home</a>
</body>
</html>